@use "variables" as *;

.creative-cr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: $header-height;
  color: #ffffff;
  overflow: hidden;
  transform: translateY(0);
  transition-duration: 0.6s;
  transition-delay: 0.2s;
  
  .creative-scroll-container {
    width: 85.4166vw;
    height: 34.6875vw;
    margin-bottom: 0.5208vw;
    overflow: hidden;

    .creative-inner {
      transform: translateY(50%);
      transition-duration: 0.6s;
      transition-delay: 0.2s;

      .creative-content-cr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34.6875vw;
        transition-duration: 0.8s;
        transition-delay: 0.5s;
        opacity: 0;
        
      .text-content-cr {
        h2 {
          font-size: 180px;
          font-weight: 500;
          margin: 0;
          line-height: 171px;
          margin-bottom: 60px;
        }

        .description-cr {
          padding-left: 10px;
          .highlight {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 43.2px;
            color: rgba(255, 255, 255, 0.5);
            font-family: $font-pretendard;
            margin: 0;

            &.highlight-cr {
              color: rgba(255, 255, 255, 1);
            }
          }

          .hyfen {
            margin-top: -8px;
          }
        }
      }
      }
    }

    .image-container-cr {
      flex-shrink: 0;
      height: 100%;
      aspect-ratio: 490 / 666;
    }
  }

  &.active1 {
    .creative-inner {
      transform: translateY(0);

      .creative-content-cr:nth-child(1) {
        opacity: 1;
      }
    }
  }
  &.active2 {
    .creative-inner {
      transform: translateY(-50%);

      .creative-content-cr:nth-child(1) {
        opacity: 0;
      }

      .creative-content-cr:nth-child(2) {
        opacity: 1;
      }
    }
  }
  &.fadeout {
    .creative-inner {
      transform: translateY(-100%);

      .creative-content-cr:nth-child(2) {
        opacity: 0;
      }
    }
  }
}
