.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: linear-gradient(270deg, #F2B813 10%, #FFDC00 100%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}