@use "variables" as *;

.footer-fr {
  padding: 85px 60px 40px 60px;
  color: rgba(255, 255, 255, 1);
  font-family: $font-base;

  .footer-content-fr {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .contact-info-fr {
    display: flex;
    gap: 5rem;
    color: #ffffff;
    opacity: 0.6;

    .info-group-fr {
      h3 {
        font-size: 16px;
        font-weight: 400;
        font-family: $font-poppins;
        margin: 0 0 10px 0;
        line-height: 20px;
      }

      p, a {
        font-family: $font-pretendard;
        font-size: 18px;
        margin: 0;
        font-weight: 600;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .social-links-fr {
    display: flex;
    align-items: center;
    gap: 40px;

    img {
      opacity: 0.6;
    }
  }

  .social-links-fr img:hover {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  .copyright-fr {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: $font-pretendard;

    p {
      color: rgba(255, 255, 255, 1);
      opacity: 0.5;
      font-size: 1rem;
      margin: 0;
      line-height: 24px;
    }
  }
}

.home .footer-fr {
  padding: 85px 60px calc(0px + 1300vh) 60px;
}
