@use "variables" as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: $header-height;
  border: 0 none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition: $transition;

  &.navbar-black {
    width: 100%;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    background-color: #0f0f0f !important;

    .nav-link {
      color: #f0f0f0 !important;
    }

    svg {
      fill: #f0f0f0 !important;
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 60px;

    .nav-links {
      display: flex;
      gap: 60px;
      align-items: center;

      .nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
        transition: opacity 0.3s ease-out;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
