.hero {
  position: sticky;
  top: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc((100vh - $header-height) - 70px);
  padding-bottom: 32px;
  transition: 0.3s;

  &.fadeout {
    opacity: 0;
    z-index: -10;
  }
}

.hero-text-area {
  display: flex;
  align-items: center;
  gap: 2.6041vw;
  width: calc(100vw - 16.6666vw);

  &:nth-child(1) {
    justify-content: flex-start;
    margin-bottom: 2.0833vw;
  }
  &:nth-child(2) {
    justify-content: flex-end;
    margin-bottom: 2.3958vw;
  }
  &:nth-child(3) {
    justify-content: center;
  }

  .hero-text {
    font-size: 9.375vw;
    font-weight: 500;
    line-height: 8.90625vw;
    color: rgba(15, 15, 15, 1);
  }

  .subtitle {
    padding-right: 2.0833vw;

    p {
      text-align: right;
      font-size: 1.25vw;
      font-weight: 400;
      line-height: 120%;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 0.4166vw;
      }
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;

  .text {
    margin: 0;
    font-family: $font-pretendard;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
}
