@use "fonts";
@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("reset.scss");


html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
body {
  color: $text-color;
  margin: 0;
  background-color: $background-color;
  font-family: $font-base;
  transition: $transition;

  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .page {
      flex: 1;
      overflow: auto;

      main {
        position: sticky;
        top: 0;
        height: 100%;
        transition: $transition;
        // overflow: auto;
      }
    }
  }
}
