@use "variables" as *;

.creative-work-ocr {
  padding-top: $header-height;
  color: #ffffff;
  font-family: $font-base;

  .content-ocr-wrapper {
    position: relative;
    width: 100%;
    padding-top: 4.5833vw;
    overflow: hidden;

    .content-ocr {
      display: inline-block;
      h2 {
        font-size: 180px;
        font-weight: 500;
        color: rgba(255, 220, 0, 1);
        margin: 0px 0px 0px 110px;
        line-height: 171px;
        white-space: nowrap;
      }
    }
  }

  .process-section-ocr {
      padding: 12.5vw 7.2916vw 0px;
    .process-header-ocr {
      padding-bottom: 7.2917vw;

      h3 {
        font-size: 7.2917vw;
        font-weight: 500;
        line-height: 95%;
      }

      .process-intro-ocr {
        p {
          margin: 0;
          line-height: 200%;
          word-break: keep-all;

          &.en-ocr {
            font-size: 1.5625vw;
            font-weight: 500;
            margin-top: 3.1250vw;
            margin-bottom: 2.0833vw;
          }

          &.ko-ocr {
            color: rgba(255, 255, 255, 1);
            font-size: 1.0417vw;
            font-weight: 300;
            line-height: 200%;
            font-family: $font-pretendard;
            text-transform: uppercase;
          }
        }
      }
    }

    .process-summary-area {
      padding-bottom: 100px;
      .process-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -22px;

        .process-item {
          order: 0;
          position: relative;
          flex-basis: 25%;
          padding-bottom: 70px;

          .line-area {
            display: flex;
            align-items: center;
            gap: 22px;
            margin-right: 22px;

            .circle {
              flex-shrink: 0;
              position: relative;
              width: 34px;
              height: 34px;
              border-radius: 50%;
              background-color: rgba(255, 220, 0, 0.20);
              box-shadow: 0px 0px 12px rgba(255, 220, 0, 0.10);

              &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 8px;
                display: block;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #ffdc00;
              }
            }
            .line {
              position: relative;
              flex: 1;
              height: 2px;
              background-image: linear-gradient(#FFFFFF, #FFFDED);

              &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -2px;
                transform: translateY(-50%);
                display: block;
                width: 10px;
                height: 12px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top right;
              }
            }
          }

          &:nth-child(1) {
            order: 1;
            .line {
              &::after { background-image: url('../assets/arrow_01.svg'); }
            }
          }
          &:nth-child(2) {
            order: 1;
            .line {
              background-image: linear-gradient(#FFFDED, #FFFBDE);
              &::after { background-image: url('../assets/arrow_02.svg'); }
            }
          }
          &:nth-child(3) {
            order: 1;
            .line {
              background-image: linear-gradient(#FFFBDE, #FFF8C9);
              &::after { background-image: url('../assets/arrow_03.svg'); }
            }
          }
          &:nth-child(4) {
            order: 1;
            &::after {
              content: '';
              position: absolute;
              top: 16px;
              right: 22px;
              display: block;
              width: 2px;
              height: 100%;
              background-image: linear-gradient(#FFF093, #FFF4AD);
            }
            .line {
              background-image: linear-gradient(#FFF8C9, #FFF4AD);
            }
          }
          &:nth-child(5) {
            order: 4;
            .line {
              background-image: linear-gradient(#FFEC76, #FFF093);
              &::after {
                right: auto;
                left: -2px;
                background-image: url('../assets/arrow_05.svg');
              }
            }
          }
          &:nth-child(6) {
            order: 3;
            .line {
              background-image: linear-gradient(#FFE856, #FFEC76);
              &::after {
                right: auto;
                left: -2px;
                background-image: url('../assets/arrow_06.svg');
              }
            }
          }
          &:nth-child(7) {
            order: 2;
            .line {
              background-image: linear-gradient(#FFE333, #FFE856);
              &::after {
                right: auto;
                left: -2px;
                background-image: url('../assets/arrow_07.svg');
              }
            }
          }
          &:nth-child(8) {
            order: 1;
            .line {
              background-image: linear-gradient(#FFDC00, #FFE333);
              &::after {
                right: auto;
                left: -2px;
                background-image: url('../assets/arrow_08.svg');
              }
            }
          }

          .text-area {
            margin-top: 2.0833vw;
            padding-left: 8px;
            padding-bottom: 30px;
            .title-area {
              margin-bottom: 2.0833vw;
              .title {
                margin-bottom: 0.3125vw;
                font-size: 1.5625vw;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: -0.6px;
                text-transform: uppercase;
              }
              .subtitle {
                font-family: $font-base;
                font-size: 0.9375vw;
                font-weight: 300;
                line-height: 150%;
                letter-spacing: -0.36px;

                br {
                  display: none;
                }
              }
            }
            .list {
              font-family: $font-base;
              font-size: 0.9375vw;
              font-weight: 500;
              line-height: 200%;
              letter-spacing: -0.36px;
            }
          }
        }
      }
    }

    .process-steps {
      .step {
        padding: 6.25vw 0 7.2916vw;
        display: flex;
        justify-content: start;
        align-items: start;
        border-top: 2px solid rgba(255, 255, 255, 1);
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        opacity: 0;
        transition: opacity 0.7s ease;

        &.active {
          opacity: 1;

          h4, .step-content {
            transform: translateY(0);
          }
        }

        h4, .step-content {
          transform: translateY(20px);
          transition: transform 0.7s ease;
        }
  
        h4 {
          width: 55%;
          padding-left: 20px;
          font-size: 40px;
          font-weight: 600;
          margin: 0;
          line-height: 52px;
        }
  
        .step-content {
          width: 45%;

          .step-title-area {
            margin: 0 0 3.4rem 0;
            .step-title {
              margin-bottom: 0.4rem;
              font-size: 24px;
              font-weight: 600;
              line-height: 31px;
              letter-spacing: 0.48px;
              font-family: $font-pretendard;
            }
            .step-desc {
              font-size: 20px;
              font-weight: 300;
              line-height: 200%;
              opacity: 0.5;
              font-family: $font-pretendard;
            }
          }
  
          .step-text {
            p {
              margin: 0;
              line-height: 200%;
              font-weight: 300;
              font-family: $font-pretendard;
              word-break: keep-all;
  
              &.ko-ocr {
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
              }
  
              &.en-ocr {
                margin-top: 26px;
                font-size: 20px;
                font-weight: 400;
                font-family: $font-base;
                text-transform: capitalize;
              }
            }
          }
        }
      }

      .step.active + .step.active {
        border-top: 0;
      }
    }
  }
}
