@use "variables" as *;

.portfolio-section-pff {
  background-color: #0f0f0f;
  position: relative;
  padding: 120px 60px;
  min-height: 100vh;
  overflow: hidden;

  .background-text-pff {
    position: absolute;
    bottom: calc(100% - 27px);
    right: -7.8125vw;
    font-size: 260px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.1);
    line-height: 247px;
    pointer-events: none;
  }

  .portfolio-grid-pff {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 300px;
  }

  .portfolio-item-pff {
    aspect-ratio: 16/9;
    overflow: hidden;

    &.aos-animate {
      opacity: 1;
    }

    .portfolio-image-wrapper-pff {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // transition: transform 0.3s ease;
      }

      .overlay-pff {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        color: white;
        font-family: $font-pretendard;

        h3 {
          font-size: 22px;
          font-weight: 700;
          margin: 4px 0 0px 0;
          line-height: 33px;
        }

        p {
          font-size: 16px;
          margin: 0;
        }
      }

      &:hover {
        .overlay-pff {
          opacity: 1;
        }
      }
    }
  }

  .more-button-container-pff {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .more-button-pff {
    background-color: #272727;
    color: white;
    border: none;
    width: 240px;
    height: 68px;
    border-radius: 90px;
    font-size: 20px;
    line-height: 24px;
    font-family: $font-poppins;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .more-button-pff::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffcc00;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  .more-button-pff span {
    position: relative;
    z-index: 2;
    font-weight: 400;
    transition: opacity 0.3s ease, color 0.3s ease;
  }

  .more-button-pff::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
    font-weight: 600;
    opacity: 0;
    color: #0f0f0f;
    transition: opacity 0.3s ease;
  }

  .more-button-pff:hover::before {
    opacity: 1;
  }

  .more-button-pff:hover span {
    opacity: 0;
  }

  .more-button-pff:hover::after {
    opacity: 1;
  }
}
