@use "variables" as *;

.hero-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 6.25vw;
  overflow: hidden;

  .hero-image-second {
    flex: 1;
    position: relative;
    overflow: hidden;
    transform: scale(0.797619);
    transform-origin: top center;
    transition: $transition;

    img {
      transform: scale(1);
      transform-origin: center;
      transition: $transition;
    }
  }
  
  .hero-content-second {
    padding: 40px 0;
    p {
      color: rgba(15, 15, 15, 1);
      font-family: $font-pretendard;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      opacity: 0.7;
    }
  }

  &.active {
    margin-top: 70px;
    padding-top: calc($header-height + 50px);
  
    .hero-image-second {
      transform: scale(1);

      img {
        transform: scale(1.35);
      }
    }
  }
}

// Medium screens (1440px and below)
// @media (max-width: 1440px) {
//   .hero-second {
//     // min-height: 90vh;
//   }
//   .hero-content-second {
//     max-width: 800px;
//     margin-top: 40px;
//     p {
//       line-height: 28px;
//       font-size: 16px;
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .hero-second {
//     // min-height: 80vh;
//   }

//   .hero-content-second {
//     max-width: 600px;
//     margin-top: 30px;
//     p {
//       line-height: 24px;
//       font-size: 14px;
//     }
//   }
// }
