$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f0f0f0;
$text-color: rgba(15, 15, 15, 1);

// Typography
$font-base: "Outfit", sans-serif;
$font-pretendard: "Pretendard", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
