@import "../../styles/variables";

.contact-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 17.6041vw;
  height: 5.8333vw;
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 3.125vw;
  overflow: hidden;
  padding: 0.625vw;

  .btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    transition: 0.5s;

    .text {
      padding-left: 1.822vw;
      font-size: 2.0833vw;
      font-weight: 600;
      font-family: $font-poppins;
      line-height: 100%;
      letter-spacing: -0.8px;
    }
    .at-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 4.5833vw;
      height: 4.5833vw;
      border-radius: 3.125vw;
      background-color: #fff;
      background-image: url('../../../public/assets/icon-arrow.svg');
      background-size: cover;
      background-repeat: no-repeat;
      transition: 0.5s;
    }

    &.hover {
      justify-content: flex-start;
      transform: translateX(-4.5833vw);
      background: var(--Y-G_01, linear-gradient(270deg, #F2B813 10%, #FFDC00 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      .at-icon {
        background-image: linear-gradient(270deg, #F2B813 10%, #FFDC00 100%), url('../../../public/assets/icon-mail.svg');
        background-blend-mode: multiply; 
      }
      .text {
        padding-left: 1.25vw;
      }
    }
  }

  &:hover {
    .btn-content {
      opacity: 0;
      .at-icon {
        transform: translateX(-11.7708vw);
      }
      &.hover {
        transform: translateX(-100%);
        opacity: 1;
        .at-icon {
          transform: translateX(0px);
        }
      }
    }
  }
}


// //  hero content styles
// @media (max-width: 1440px) {

// }

// // responsive styles
// @media (max-width: 1440px) {
//   .at_contact-button {
//     width: 300px;  // Just for checking purpos
//     height: 100px;
//     font-size: 35px;

//     .at_icon {
//         display: flex;
//         width: 70px;
//         height: 70px;
//         padding: 15px;

//         svg {
//             width: 30px;
//             height: 30px;
//         }
//     }
//   }

//   .at_button-text {
//     font-size: 35px;
//     &.at_gradient-text {
//       margin-left: -25px !important;
//     }
//   }
// }

// @media (max-width: 1024px) {

//   .at_contact-button {
//     width: 250px;
//     height: 80px;
//     font-size: 28px;
//   }

//   .at_button-content {
//     padding: 0 8px 0 30px;
//   }

//   .at_button-text {
//     font-size: 28px;
//   }
// }
