@import "../../styles/variables";


.at_contact-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 17.6041vw;
  height: 5.8333vw;
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 3.125vw;
  overflow: hidden;
  cursor: pointer;
  
  .at_button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    padding: 0.625vw;
    transition: 0.5s;

    .at_button-text {
      flex: 1;
      padding-right: 4.5833vw;
      font-size: 2.0833vw;
      font-weight: 600;
      font-family: $font-poppins;
      text-align: center;
      transition: 0.5s;
    }

    &.hover {

      .at_button-text {
        padding-left: 4.5833vw;
        padding-right: 0;
        background: linear-gradient(270deg, #f2b813 10%, #ffdc00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        opacity: 0;
      }
    }

  }

  .at_icon {
    position: absolute;
    top: 50%;
    right: 0.625vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 4.5833vw;
    height: 4.5833vw;
    border-radius: 3.125vw;
    background: #ffffff;
    transform: translate(0, -50%);
    transition: 0.5s;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.875vw;
      height: 1.875vw;
      transform: translate(-50%, -50%);
      transition: opacity 0.5s;

      &.hover {
        opacity: 0;
      }
    }
  }

  &:hover {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.10);

    .at_button-content {
      .at_button-text {
        opacity: 0;
      }

      &.hover {
        transform: translateX(-100%);
  
        .at_button-text {
          opacity: 1;
        }
      }
    }

    .at_icon {
      transform: translate(calc(-16.3541vw + 100%), -50%);
      background-image: linear-gradient(270deg, #F2B813 10%, #FFDC00 100%);

      svg {
        opacity: 0;

        &.hover {
          opacity: 1;
        }
      }
    }
  }
}


// //  hero content styles
// @media (max-width: 1440px) {

// }

// // responsive styles
// @media (max-width: 1440px) {
//   .at_contact-button {
//     width: 300px;  // Just for checking purpos
//     height: 100px;
//     font-size: 35px;

//     .at_icon {
//         display: flex;
//         width: 70px;
//         height: 70px;
//         padding: 15px;

//         svg {
//             width: 30px;
//             height: 30px;
//         }
//     }
//   }

//   .at_button-text {
//     font-size: 35px;
//     &.at_gradient-text {
//       margin-left: -25px !important;
//     }
//   }
// }

// @media (max-width: 1024px) {

//   .at_contact-button {
//     width: 250px;
//     height: 80px;
//     font-size: 28px;
//   }

//   .at_button-content {
//     padding: 0 8px 0 30px;
//   }

//   .at_button-text {
//     font-size: 28px;
//   }
// }
